/* RecipeDetails.css */

.recipe-details-container {
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px auto 200px auto;
  overflow: hidden;
  /* Добавлено для предотвращения переполнения */
}

.recipe-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.recipe-title-link{
  text-decoration: none;
  color: #000000;
}
.recipe-title-link:hover{
  text-decoration: none;
  color: red;
}
.recipe-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recipe-meta div {
  font-size: 1em;
  color: #777;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}


.recipe-description {
  margin-bottom: 20px;
  padding: auto;
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
  padding-right:50px;
}
#description{
  padding-left:30px;
  font-style: italic;
}
.recipe-description p {
  font-size: 1.5em;
  font-style: italic;
  color: #555;
}

.recipe-ingredients,
.recipe-instructions {
  margin-bottom: 20px;
  font-style: italic;
  border-radius: 10px; /* Скругленные углы */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень */
  padding-left:30px;
}

.recipe-ingredients ul,
.recipe-instructions ol {
  padding-left: 20px;
  text-decoration:solid;
}

.recipe-ingredients li,
.recipe-instructions li {
  margin-bottom: 30px;
  font-size: 1.5em;
  color: #555;

}
.recipe-ingredients li{
  list-style: none;
}
.recipe-ingredients li::before{

  content: '✓  '; /* Символ иконки */
}
.menu2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 450px;
}

.menu2 p {
  font-weight: bold;
}

.menu2 a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}

.menu2 ol {
  list-style: none;
}

.comments-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.comments-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.comments-section textarea {
  width: 100%;
  height: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.comments-section li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  list-style-type: none;
}

.comments-section button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  float: right;
  border-radius: 5px;
  justify-content: right;
  text-align: center;
  background-color: #965454;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  align-items: center;
}

.comments-section button:hover {
  background-color: #603737;
}

.comment {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.commentDate {
  color: #777;
}

.comment p {
  margin: 5px 0;
}

form {
  margin-top: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.recipe-detail-image {
  width: 500px;
  height: 400px;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  /* Центрирование по горизонтали */
  align-items: center;
  /* Центрирование по вертикали */
  margin-left: 150px;
  
}

.recipe-detail-image-card {
  width: 400px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}